:root {
    --almost-black: #131313;
    --gray: #8c8c8c;
    --bright-green: #0f0;
    --color-code-background: #ebebebc4;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--almost-black);
}
code {
    background-color: var(--color-code-background);
    border-radius: 0.3em;
    padding: 2px 4px;
    white-space: nowrap;
}
blockquote {
    border-left: 4px solid var(--bright-green);
    padding-left: 1em;
    margin: 0;
}
#other-platforms a {
    margin-right: 0.5em;
    font-size: 0.8em;
}
.blinking-square {
    background-color: var(--bright-green);
    animation: blink-animation 2s steps(1, start) infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}
h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-bottom: 0.1em;
}
h1#home:before {
    content: "$ ";
    color: var(--bright-green);
}
h2 {
    font-family: 'Roboto Mono', monospace;
    margin-top: 0;
    color: var(--gray);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}
.episode {
    margin-bottom: 2em;
}
.episode > h3 {
    margin-bottom: 0.5em;
}
.episode > h3 > .date {
    color: var(--gray);
}
.question {
    text-decoration: underline;
}
.answer {
    padding-left: 2em;
    margin-top: 0;
}
.warning {
    font-size: 2em;
    background-color: #ffcccc;
    padding: 0 0.2em;
}
#footer {
    text-align: right;
    margin: 2rem 0;
}